body {
	width: 1024px;
	padding: 0px 75px;
	font-size: 16px;
	margin: 0 auto;
}

a {
	text-decoration: none;
	color: gray;
}

h2 {
	font-size: 1.6em;
}

button {
	transform: scale(1);
	transition: 300ms;
}

button:hover {
	transform: scale(1.07);
	transition: 300ms;
}

header {
	display: flex;
	flex-direction: column;
}

nav ul {
	display: flex;
	padding: 40px 0;
	justify-content: space-between;
}

nav ul li:last-child {
	margin-top: -10px;
}

.header-content {
	display: flex;
}

.header-left {
	display: flex;
	flex-direction: column;
	width: 50%;
	vertical-align: top;
	padding: 75px;
	text-align: center;
}

.header-left h1 {
	font-size: 5em;
}

.header-left button {
	margin: 0 auto;
	padding: 7px 45px;
	background-color: transparent;
	border: 1px solid rgb(100, 100, 100);
	font-size: 1em;
}

.header-left button:hover {
	color: red;
	border: 1px solid red;
}

.header-right {
	width: 49%;
}

.header-right img {
	float: right;
}

.container {
	margin: 0 auto;
}

section {
	border-top: 1px solid black;
	padding: 40px 0;
}

section div {
	display: flex;
	flex-direction: column;
}

/*******************
        home 
********************/

.about-top,
.about-bottom {
	display: flex;
	flex-direction: row;
}

.about-content p {
	text-align: left;
}

.two-column {
	width: 49%;
}

.three-column {
	width: 33%;
}

.middle-img {
	padding: 40px 0;
	text-align: center;
}

/*******************
      services  
********************/
.services-container p {
	line-height: 1.4em;
}

.services-header {
	margin: 30px 0;
	line-height: 1.4em;
}

.services {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-bottom: 0;
}

.services-content {
	width: 47.5%;
	padding: 25px;
	margin-bottom: 45px;
	background-color: rgb(241, 241, 241);
	border: 1px solid black;
}

.services button {
	height: 35px;
	width: 130px;
	margin-top: 25px;
	border: 1px solid black;
	border-radius: 4px;
}

.facts {
	display: flex;
	justify-content: space-between;
}

.facts div {
	width: 48%;
}

.facts ul {
	list-style: disc;
	margin: 20px;
	line-height: 1.4em;
}

/*********************
        footer
*********************/

footer {
	padding: 20px 0 120px;
	text-align: center;
}
